.list-cell {
    -fx-padding: 0.25em 0.9em 0.25em 0.9em; /* 3 7 3 7 */
}
.list-view{
    -fx-background-color: grey;
}

.text-field{
    -fx-padding: 10px;
}
.large-description{
    -fx-font-family: SansSerif;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}
.large-home{
    /*-fx-font-family: SansSerif;*/
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 0px 10px 0px 20px;
}
.centered{
    -fx-text-alignment:center;
}
.button-t{
    -fx-padding: 20px;
}
